
# laravel
public/hot
public/storage
storage/*
_ide_helper.php
.idea
.vagrant
npm-debug.log
yarn-error.log
.env
envs/*
vendor
public/vendor

# osx
.DS_Store

# vim
*.swp

# js
node_modules
dist
.nuxt

# bulma/mdi
resources/static/bulma.css
resources/static/mdi.css
resources/static/materialdesignicons.min.css.map
resources/static/fonts/material*
