/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@tailwind base;

/**
  * This injects any component classes registered by plugins.
  */
@tailwind components;

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file. It also injects any utility classes registered by plugins.
  */
@tailwind utilities;

/**
  * Use this directive to control where Tailwind injects the responsive
  * variations of each utility.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind screens;

