.ani-sil
  animation slide-in-left 0.2s ease 0s both
  &.is-closing
    animation-delay 0s !important
    animation slide-out-left 0.2s ease 0s both

.ani-sir
  animation slide-in-right 0.2s ease 0s both
  &.is-closing
    animation-delay 0s !important
    animation slide-out-right 0.2s ease 0s both

.ani-sit
  animation slide-in-top 0.2s ease 0s both
.ani-sib
  animation slide-in-bottom 0.2s ease 0s both

.ani-fi
  animation fade-in 0.2s ease 0s both
.ani-fo
  animation fade-out 0.6s ease 0s both

.ani-zi
  animation zoom-in 0.2s ease 0s both
.ani-zo
  animation zoom-out 0.6s ease 0s both

.ani-sil, .ani-sit, .ani-sir, .ani-zi, .ani-fade-in, .ani-sit, .ani-sib
  for i in 1..20
    &.ani-d-{i}
      animation-delay unit(0.05 * i, 's')
