#toasts
  display flex
  flex-flow column
  flex-direction column-reverse
  position fixed
  top 80px
  right 30px
  z-index 60
  min-width 200px
  max-width 460px
  .notification
    transition all 0.3s ease
    margin-bottom 1.5rem
    overflow hidden
    position relative
    .delete
      margin-left 1rem
      opacity 0
      transition opacity 0.2s ease-in
    &:hover .delete
      opacity 1

@media all and (min-width: 1px) and (max-width: 1000px)
  #toasts
    width calc(100% - 60px)
    .notification .delete
      opacity 1
