// modal zoom in/out
.animodal-enter-active, .animodal-leave-active
  transition opacity 0.5s ease 0s

.animodal-enter-active > .modal-content > div, .animodal-leave-active > .modal-content > div,
.animodal-enter-active > .modal-card , .animodal-leave-active > .modal-card
  transition transform 0.4s ease 0.1s, opacity 0.4s ease 0.1s

.animodal-leave-active > .modal-content > div,
.animodal-leave-active > .modal-card
  transition transform 0.2s ease 0s, opacity 0.2s ease 0s

.animodal-enter, .animodal-leave-to
  opacity 0
  > .modal-content > div, > .modal-card
    transform scale(0.9)
    opacity 0

span.icon
  transition color .4s ease
span.tag
  transition background-color .4s ease

// messages enter/leave
.toast-enter-active, .toast-leave-active
  transition transform 0.6s ease

.toast-enter, .toast-leave-to
  opacity 0
  transform translate(40px, 0)
