.fade-in-left-enter-active,
.fade-in-right-enter-active
  transition opacity 0.6s ease-in-out 0.2s
  div:nth-child(1)
    transition transform 0.4s ease-in-out 0.2s
  div:nth-child(2)
    transition transform 0.4s ease-in-out 0.25s
.fade-in-left-leave-active,
.fade-in-right-leave-active
  transition opacity 0.2s ease-in-out 0s
  div
    transition transform 0.2s ease-in-out 0s

.fade-in-left-enter, .fade-in-left-leave-to,
.fade-in-right-enter, .fade-in-right-leave-to
  opacity 0

.fade-in-left-enter div
  transform translate(10px, 0)

.fade-in-left-leave-to div
  transform translate(-4px, 0)

.fade-in-right-enter div
  transform translate(-10px, 0)

.fade-in-right-leave-to div
  transform translate(4px, 0)
